h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

body {
  font-family: Verdana, sans-serif;
  background-color: black;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

p {
  text-align: center;

}
