h1 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
}

body {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
  color: white;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

p {
  text-align: center;

}

video {
    object-fit: contain;
}
